<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/info" margin="300px aotu" method="post">
		Your Name <input width="500px" type="text" name="name">
		Dojo Location 
		<select name="location">
			<option>San Jose</option>
			<option>Seatle</option>
		</select>
		Favourite Language 
		<select name="language">
			<option>Python</option>
			<option>Ruby</option>
		</select>
		Comment(optional) 
		<textarea name="comment"></textarea>
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>